## A partir dos dados de Aluguel, faça as seguntes análises:
> 1 - Selecione somente os imoveis classificados com tipo "apartamento".

> 2 - Selecione os imoveis classificados com tipo "casa", "casa de condominio" e "casa de vila".

> 3 - Selecione os imoveis com área entre 60 e 100 metros, incluindo os limites.

> 4 - Selecione os imoveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

## Análises

In [36]:
import pandas as pd

In [37]:
dados = pd.read_csv('aluguel.csv', sep=";")
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

>> 1 - Selecione somente os imoveis classificados com tipo "apartamento".

In [ ]:
lista_apartamentos = dados.query("Tipo == 'Apartamento'")
# lista_apartamentos.index = range(lista_apartamentos.shape[0]) código para altarar o index
lista_apartamentos.head(n=10)

>> 2 - Selecione os imoveis classificados com tipo "casa", "casa de condominio" e "casa de vila".

In [ ]:
lista_imoveis = dados.query("Tipo in ['Casa', 'Casa de Condomínio', 'Casa de Vila']")
lista_imoveis.head(n=20)

>> 3 - Selecione os imoveis com área entre 60 e 100 metros, incluindo os limites.

In [ ]:
imoveis_por_area = dados.query('Area >= 60 and Area <=100')
imoveis_por_area.head(n=20)

>> 4 - Selecione os imoveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [ ]:
imoveis_por_valor_do_aluguel = dados.query("Quartos >=4 and Valor < 2000")
imoveis_por_valor_do_aluguel